@page
@model Wiki.Web.Pages.Articles.CompareModel
@{
    ViewData["Title"] = "Compare";
}

<h2>Compare</h2>
<div class="row">
    <div class="col-md-6" style="float: left">
        <h1>@Model.Article1.Title</h1>
        <h5>Version: @Model.Article1.Version</h5>
        <div class="table-bordered">
            @Html.Raw(Model.Article1.Content)
        </div>
    </div>
    <div class="col-md-6" style="float: right">
        <h1>@Model.Article2.Title</h1>
        <h5>Version: @Model.Article2.Version</h5>
        <div class="table-bordered">
            @Html.Raw(Model.Article2.Content)
        </div>
    </div>
</div>
