@page
@using Wiki.Web.Extensions
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@model Wiki.Web.Pages.Articles.GetModel
@{
    ViewData["Title"] = "Get";
}

<style>
    .article {
        background-color: lightgray;
        color: black;
        padding: 10px;
        border: 10px
    }
</style>
<div class="row">
    <div class="col-md-12">
        <h2>@Model.Article.Title</h2>
        <p>Author: @Model.Article.Author.Email</p>
        <p>Tags: @Model.Article.Tags.Select(x => x.Tag).AsString()</p>
        <p>Category: @Model.Article.Category.Category</p>
        @if(Model.Article.Comment != null)
        {
            <p class="text-info">Comment to this version: @Model.Article.Comment</p>

        }
        @if (HttpContextAccessor.HttpContext.User.IsInRole("Read"))
        {
            <p>Status: @Model.Article.Status.Status</p>

        }
    </div>
    <div class="col-md-10">
        @Html.Raw("<div class=\"article\">" + Model.Article.Content + "</div>")
    </div>
    @if (Model.HttpContext.User.Identity.IsAuthenticated)
    {
        <div class="col-md-2 table-bordered" style="float:right">
            <a asp-page="/Articles/Add" asp-route-textid="@Model.Article.TextId">Edit</a><br />

            @if (@Model.Article.Status.Status == "Waiting" && HttpContextAccessor.HttpContext.User.IsInRole("Accept"))
            {
                <a asp-page="/Articles/Modify" asp-route-textid="@Model.Article.TextId" asp-route-status="22">Accept</a><br />
                <a data-toggle="modal" data-target="#myModal">Reject</a>
            }
            @if (HttpContextAccessor.HttpContext.User.IsInRole("Read"))
            {
                <a asp-page="/Articles/Compare" asp-route-textid="@Model.Article.TextId">Compare to master</a><br />

            }
            @if (@Model.Article.Status.Status == "Accepted" && HttpContextAccessor.HttpContext.User.IsInRole("Publish"))
            {
                <a asp-page="./Articles/Modify" asp-route-textid="@Model.Article.TextId" asp-route-status="1">Make Master</a>
            }
        </div>
    }


    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Reason:</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <form asp-page="./Modify" method="post">
                    <div class="modal-body">
                        <input type="hidden" name="textid" value="@Model.Article.TextId"/>    
                        <textarea name="reason"></textarea>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Submit</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <!-- Trigger/Open The Modal -->



</div>
