@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<style>
    .iconDetails {
        margin-left: 2%;
        float: left;
        height: 120px;
        width: 120px;
    }

    .container2 {
 
        height: auto;
        padding: 1%;
    }

    h1 {
        margin-left: 0px;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<!-- The Modal -->
<div class="modal fade" id="suggestionModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Suggestion:</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <form asp-page="./Modify" id="suggestion" method="post">

                <script>
                var jquery = jQuery.noConflict();
                jquery(document).ready(function () {

                    var validator = jquery('#suggestion').validate({
                        errorElement: 'span',
                        errorClass: 'error',
                        wrapper: "ul",
                        rules: {
                            "Suggestion.Content": {
                                required: true,
                                maxlength: 1000,
                            },              
                        },
                    });                 
                });
                </script>

                <div class="modal-body">
                    @if (Model.User.Identity.IsAuthenticated)
                    {
                        <input type="checkbox" asp-for="@Model.Suggestion.IsAnonymous" />
                        <label>Add as anonymous user</label><br />
                    }
                    else
                    {
                        <input type="hidden" asp-for="@Model.Suggestion.IsAnonymous" value="true" />

                    }
                    <textarea asp-for="@Model.Suggestion.Content" style="width: 100%; height:200px; resize: none"></textarea>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Submit</button>
                </div>
            </form>

        </div>
    </div>
</div>
<div class="col-md-6 col-lg-offset-3" style="margin-top:20px">
    <label>Help us improve our site and</label>
    <a data-toggle="modal" data-target="#suggestionModal" class="btn btn-default">Add suggestion</a>
    <br/>
    @if (User.Identity.IsAuthenticated)
    {
        <label>Browse articles you added</label>
        <a asp-page="Articles/Index" class="btn btn-default" asp-route-mine="1">My articles</a>
            <br/>
        if (User.IsInRole("Accept"))
        {
            <label>Click here to see articles you are managing</label>
            <a asp-page="Articles/Index" class="btn btn-default" asp-route-mine="2">Manage</a>

        }
    }

</div>
<br /><br /><br /><br />
@if (Model.Articles.Count == 4)
{
<div class="row">
    <div class="col-md-6 container2 table-bordered" style="cursor: pointer;" onclick="location.href='/Articles/get?textid=@Model.Articles[0].TextId';">
        <div>
            <img src='@Model.Articles[0].Avatar' alt="https://www.unesale.com/ProductImages/Large/notfound.png" class='iconDetails'>
        </div>
        <div style='margin-left:60px; margin-top: 60px'>
            <h3>@Model.Articles[0].Title</h3>
        </div>
    </div>
    <div class="col-md-6 container2 table-bordered" style="cursor: pointer;" onclick="location.href='/Articles/get?textid=@Model.Articles[1].TextId';">
        <div>
            <img src='@Model.Articles[1].Avatar' alt="https://www.unesale.com/ProductImages/Large/notfound.png" class='iconDetails'>
        </div>
        <div style='margin-left:60px; margin-top: 60px'>
            <h3>@Model.Articles[1].Title</h3>
        </div>
    </div>
    <div class="col-md-6 container2 table-bordered" style="cursor: pointer; float:right" onclick="location.href='/Articles/get?textid=@Model.Articles[2].TextId';">
        <div>
            <img src='@Model.Articles[2].Avatar' alt="https://www.unesale.com/ProductImages/Large/notfound.png" class='iconDetails'>
        </div>
        <div style='margin-left:60px; margin-top: 60px'>
            <h3>@Model.Articles[2].Title</h3>
        </div>
    </div>
    <div class="col-md-6 container2 table-bordered" style="cursor: pointer; float:right" onclick="location.href='/Articles/get?textid=@Model.Articles[3].TextId';">
        <div>
            <img src='@Model.Articles[3].Avatar' alt="https://www.unesale.com/ProductImages/Large/notfound.png" class='iconDetails'>
        </div>
        <div style='margin-left:60px; margin-top: 60px'>
            <h3>@Model.Articles[3].Title</h3>
        </div>
    </div>
</div>
}